body{
    margin: 0;
    padding-top: 100px;
}
#header-image{
    margin: 10px 34px;
}
 img{
    height: 60px;
    width: 90px;
}
#nav-bar{
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: lightgray;
}
.navbar-nav > li{
    padding-right:100px;
  }

#form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#email{
    width: 22%;
    margin: 20px;
    outline: none;
    font-size: 2vw;
    border: 1px solid green;
    padding-left: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#submit{
    width: 8%;
    margin-top: 5px;
    font-size: 1.5vw;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* #features{
    margin-top: 80px;
} */
#video{
    margin-top: 50px;
}
#pricing{
    margin-top: 50px;
}
.card-item{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
}
#btn{
    margin:0 auto;
}
#footer{
    background-color: lightgray;
    
    border: 1px solid lightgray;
}